* /*means you select all the page*/
{
    overflow: auto;    
}
body {
    background-color: #8BA1BB;
    font-family: Arial;
    margin: 0;
}

div.contenu{
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0 8px 20px 8px; /*pour marge interne de l'objet*/
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
    overflow: visible; /*ce qui dépasse est visible*/
}
h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
.centre{
    text-align: center;
    width: 100%;
}
p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}
div.categorie{
    margin-bottom: 0;
    margin-top: 0;
    overflow: visible;
}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position: relative;

}
table.info{
position: absolute; 
bottom:0; 
width: 100%;
color: white;
background-color: #6C899DC0;/*opacité  après rouge vert bleu
                                 (ici C0)*/
height: 50px;
}
table.info td /*les td de table info*/
{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
table.info th{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}
img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;/*l'image ne se déforme pas losqu'on élargit la page*/
    min-height: 200px;
    /*met un emplacement vide lorsque l'image n'est pas encore chargée*/
    background-color: lightgray;
}

div.colonne{
    width: 100%;
    margin-top: 20px;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C899D;
    padding-bottom: 5px;
}
div.colonne1{    
    display: inline-block;
}

div.ingredient p{
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
}
table.preparation p.numero
{
    background-color: #6C899D;
    color:  white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box ;/* to have box of total 25px height (see above)
    mais take account of padding (here 4px))*/
    border-radius: 50%;/* peut être en px pour arrondir les coins*/
    margin: 0;
    
}
table.preparation td
{
    vertical-align: top;
}
table.preparation td.preparation_etape
{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr
{
    height: 40px;
}
 /*styles pour écran d'ordinateur, largeur min 768px,
  above c'est les styles pour mobiles, 
  click droit, inspect, toggle to see on mobile and/or desktop version*/
 @media only screen and (min-width: 768px)
 {
  div.contenu{
   min-width: 350px;   
   margin: 60px 10% 80px 10%;
   padding: 0 30px 30px 30px; /*pour marge interne de l'objet*/
  }
  table.info /*inutile de doubler tout car on veut juste modifier 
  le comportement sur différents écrans*/
    {
       height: 80px;
    }
    table.info td /*les td de table info*/
    {
        text-align: center;
        font-size: 14px;
    }
    table.info th
    {
        font-size: 16px;
    }
    div.colonne
    {
        width: 45%;
    }

    div.colonne1
    {    
        margin-right: 10%;
    }
    div.colonne2
    {
        float: right;    
    }

}

@media only screen and (min-width: 900px)/*screen width more than 900px*/
{
    div.contenu{
       margin-left: auto;
       margin-right: auto;
       width: 645px; /*found using inspect on div contenu*/
    }
}

